body {
}

#Contenedor {
	padding: 0.5em;
	top: 0; right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: white;
}

.Cuerpo {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.Subtitulo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgoldenrod;
    border: 3px solid black;
}

#Cabeza{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFC107;
    text-align: center;
}
#Cabeza h1{
    display: inline-block;
    border: 3px solid black;
}

#Arriba{
    margin: auto;
    width: 100%;
    height: 100%;
}


iframe{
    width: 100%;
    height: 600px;
}

#iframe2{
    width: 400px;
    height: 200px;
    margin: 0.5em;
}
section {
    display: flex;
    justify-content: space-between;
}

#Imagenes{
    display: flex;
    justify-content: space-between;
}

#Secreta {
    width: 250px;
    height: 200px;
    margin: 0.5em;
}

#Equipo {
    width: 300px;
    height: 200px;
    margin: 0.5em;
}

#Hipervinculos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background-color: black;
}

.TextoFooter{
    font-size: 20px;
    margin: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
